

body{

background:#f4f4f4;
font-family:Georgia,serif;
line-height:1.8;
padding:20px;

}


.container{

max-width:900px;
margin:auto;

}


h1{

text-align:center;

}


.book{

background:white;
padding:30px;
margin-bottom:30px;
border-radius:12px;

}


.chapter{

background:white;
padding:30px;
margin-bottom:40px;
border-radius:12px;

}


.content{

font-size:20px;

}


button{

padding:12px;
margin:8px;
cursor:pointer;
border-radius:8px;
border:none;

}



@media(max-width:600px){

button{

width:100%;

}


.content{

font-size:18px;

}


}

