.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.67em;
    text-align: center
    }
.calibre10 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre11 {
    display: table-row;
    vertical-align: inherit
    }
.calibre12 {
    display: block;
    font-family: "Liberation Mono", monospace;
    font-size: 0.77778em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre-wrap
    }
.calibre13 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px
    }
.calibre14 {
    display: block
    }
.calibre15 {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.calibre16 {
    display: block
    }
.calibre17 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre19 {
    display: list-item
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre20 {
    font-weight: bold
    }
.calibre21 {
    font-family: "Liberation Mono", monospace
    }
.calibre22 {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px
    }
.calibre23 {
    display: table-column-group
    }
.calibre24 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre25 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre26 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre27 {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre28 {
    font-size: smaller;
    line-height: normal;
    vertical-align: super
    }
.calibre29 {
    font-size: 0.75em
    }
.calibre3 {
    font-family: "Times";
    line-height: 1.2
    }
.calibre30 {
    font-size: 0.77778em;
    line-height: normal;
    vertical-align: super
    }
.calibre31 {
    font-size: 0.71429em
    }
.calibre4 {
    font-family: "Times"
    }
.calibre5 {
    display: block;
    font-family: "Liberation Mono", monospace;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 1em;
    white-space: pre-wrap
    }
.calibre6 {
    font-style: italic
    }
.calibre7 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre8 {
    display: table-column-group;
    text-align: left
    }
.calibre9 {
    display: table-column
    }
.center {
    display: block;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    text-align: center
    }
.center1 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center
    }
.docTableCell {
    display: table-cell;
    font-size: 0.75em;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.ind {
    display: block;
    margin-bottom: 8px;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
    }
.noind {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 25px;
    text-indent: 0
    }
.noindclose {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0
    }
.notetitle {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px
    }
.part {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em
    }
.smaller {
    display: block;
    font-size: 0.75em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em
    }
.toc {
    display: block;
    margin-bottom: 1em;
    margin-left: 15px;
    margin-right: 1em;
    margin-top: 15px;
    text-indent: 0
    }
