body
{
	padding-left:2%;
	padding-right:2%;
}
a
{
	text-decoration:none;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
img.Basic-Text-Frame, div.Basic-Text-Frame {
	border-style:solid;
}
table.Basic-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Basic-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
tr.Basic-Table {
}
table.No-Table-Style {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.No-Table-Style {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
tr.No-Table-Style {
}
td.tab-body {
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
	vertical-align:top;
}
p.Body-Styles_Body-Text-block {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0em;
	margin-left:1.2em;
	margin-right:1.2em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.Body-Styles_Body-Text-block-center {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.Body-Styles_ListBullet {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0.25em;
	margin-left:2.7em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.5em;
	text-transform:none;
}
p.Body-Styles_ListBullet-sp-ab {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0.25em;
	margin-left:2.7em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.5em;
	text-transform:none;
}
p.Body-Styles_ListNumbered {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0.25em;
	margin-left:3.2em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
	text-transform:none;
}
p.Body-Styles_ListNumbered-sp-ab {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0.25em;
	margin-left:3.2em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:-2em;
	text-transform:none;
}
p.Headings_heading-4 {
	font-size:1.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.091;
	margin-bottom:1.25em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1.25em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:uppercase;
}
p.Headings_heading-5 {
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:1em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:uppercase;
}
p.Source {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.box-text {
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0px;
	margin-top:0.75em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.box-text-b {
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0.75em;
	margin-left:0em;
	margin-right:0px;
	margin-top:0.75em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.box-nl-sp-ab {
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0em;
	margin-left:2.7em;
	margin-right:0px;
	margin-top:0.75em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.5em;
	text-transform:none;
}
p.box-nl {
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:0em;
	margin-left:2.7em;
	margin-right:0px;
	margin-top:0.5em;
	text-align:justify;
	text-decoration:none;
	text-indent:-1.5em;
	text-transform:none;
}
p.captions {
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0.5em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.ch-title--pr-end- {
	font-size:3.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1em;
	margin-bottom:1.25em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:uppercase;
}
p.contents-part {
	color:#000000;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0.5em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.dedication {
	font-size:1em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.fig-source {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.222;
	margin-bottom:11px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0.5em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.half-title {
	font-size:4em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:uppercase;
}
p.imprint {
	font-size:0.708em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.imprint-sp-ab {
	font-size:0.708em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.294;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.imprint-top {
	font-size:0.833em;
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	line-height:1.1;
	margin-bottom:0em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-body {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-bodyn {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:1.2em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:-1.2em;
	text-transform:none;
}
p.tab-bodyc {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-bodyr {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-col-head {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:left;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-col-headc {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tab-col-headr {
	font-size:0.75em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:right;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text-indent {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:1.2em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text-no-sp-ab {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text-figure {
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text-sp-ab {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:0px;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.text-with-drop-cap {
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.375;
	margin-bottom:1em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0em;
	text-align:justify;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tp-author {
	font-size:1.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.182;
	margin-bottom:12em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.tp-subtitle {
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.176;
	margin-bottom:5em;
	margin-left:0em;
	margin-right:0em;
	margin-top:1em;
	text-align:center;
	text-decoration:none;
	text-indent:0em;
	text-transform:none;
}
p.fig {
	text-align:center;
	margin-top:0em;
	margin-bottom:0em;
}
p.fig1 {
	text-align:center;
	margin-top:0em;
	margin-bottom:0em;
}
div.avoid
{
page-break-inside:avoid;
margin:0em;
padding:0em;
}
div.box {
	border:3px solid #000000;
	margin-top:1em;
	margin-bottom:1em;
	padding-left:1.2em;
	padding-right:1.2em;
}
span.boxnl {
	font-weight:normal;
	font-style:normal;
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:1.25em;
	text-align:right;
	padding-right:0.75em;
}
span.bl {
	font-weight:normal;
	font-style:normal;
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:1.5em;
}
span.bn {
	font-weight:normal;
	font-style:normal;
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
	width:1.2em;
}
span.Drop-cap {
	font-style:normal;
	font-weight:normal;
}
span.No-Break {
	text-decoration:none;
}
span.Small-caps {
	font-style:normal;
	font-variant:small-caps;
	font-weight:normal;
	text-transform:none;
}
span.bold {
	font-style:normal;
	font-weight:bold;
}
span.bolditalic {
	font-style:italic;
	font-weight:bold;
}
span.demi {
	font-style:normal;
	font-weight:normal;
}
span.italic {
	font-style:italic;
	font-weight:normal;
}
span.roman {
	font-style:normal;
	font-weight:normal;
}
span.sc {
	font-variant:small-caps;
	text-transform:none;
}
span.superior {
	vertical-align:super;
}
span.superior1 {
	vertical-align:super;
	font-size:0.73em;
	line-height:0;
}
table.TableOverride-1 {
	border-collapse:collapse;
	border-width:1px;
}
td.CellOverride-1 {
	border-bottom-width:2px;
}
td.CellOverride-2 {
	border-right-width:2px;
}
td.CellOverride-3 {
	border-left-width:2px;
	border-top-width:2px;
}
td.CellOverride-4 {
	border-right-width:2px;
	border-top-width:2px;
}
td.CellOverride-5 {
	border-left-width:2px;
}
td.CellOverride-6 {
	border-right-width:2px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
td.CellOverride-7 {
	border-bottom-width:2px;
	border-left-width:2px;
}
td.CellOverride-8 {
	border-bottom-width:2px;
	border-right-width:2px;
}
p.ParaOverride-1 {
	margin-bottom:10px;
}
p.ParaOverride-2 {
	margin-bottom:10px;
}
p.ParaOverride-3 {
	margin-top:11px;
}
p.ParaOverride-4 {
	text-align:center;
}
li.ParaOverride-5 {
	list-style-type:decimal;
	margin-left:43px;
	text-indent:0px;
}
p.ParaOverride-6 {
	text-align:right;
}
li.ParaOverride-7 {
	text-indent:0px;
}
p.ParaOverride-8 {
	margin-left:14px;
}
p.ParaOverride-9 {
	margin-top:9px;
}
p.ParaOverride-10 {
	margin-bottom:0px;
}
li.ParaOverride-11 {
	margin-left:34px;
	text-indent:0px;
}
p.ParaOverride-12 {
	margin-bottom:11px;
}
span.CharOverride-1 {
	font-size:0.76em;
}
span.CharOverride-2 {
	font-size:0.958em;
}
span.CharOverride-3 {
	font-size:1.828em;
}
span.CharOverride-4 {
	font-size:1.39em;
}
span.CharOverride-5 {
	font-size:1.752em;
}
span.CharOverride-6 {
	font-size:1.176em;
}
span.CharOverride-7 {
}
span.CharOverride-8 {
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-10 {
}
span.CharOverride-11 {
	font-style:italic;
	font-weight:normal;
}
p._idGenParaOverride-1 {
}
span._idGenCharOverride-1 {
}
span._idGenCharOverride-2 {
}
span._idGenCharOverride-3 {
}
span._idGenCharOverride-4 {
}
span._idGenCharOverride-5 {
}
span._idGenCharOverride-6 {
	font-size:58%;
}
._idGenDropcap-1 {
	float:left;
	font-size:5.08em;
	font-style:normal;
	font-weight:bold;
	line-height:1em;
	margin-bottom:-0.202em;
	margin-right:0.05em;
	margin-top:-0.1em;
}
#_idContainer005 {
	display:inline-block;
	height:648px;
	width:432px;
}
#_idContainer006 {
	display:inline-block;
	height:129px;
	width:96px;
}
#_idContainer007 {
	display:inline-block;
	height:28px;
	width:102px;
}
#_idContainer008, #_idContainer009, #_idContainer010, #_idContainer011, #_idContainer012, #_idContainer013, #_idContainer038, #_idContainer039, #_idContainer040, #_idContainer041, #_idContainer042, #_idContainer043, #_idContainer057, #_idContainer058, #_idContainer059 {
	display:inline-block;
	height:0px;
	position:relative;
	width:332px;
}
#_idContainer015, #_idContainer018, #_idContainer021 {
	display:inline-block;
	height:550px;
	width:251px;
}
#_idContainer024, #_idContainer033, #_idContainer036, #_idContainer045, #_idContainer082 {
	display:inline-block;
	height:550px;
	width:258px;
}
#_idContainer027 {
	display:inline-block;
	height:550px;
	width:271px;
}
#_idContainer030 {
	display:inline-block;
	height:550px;
	width:259px;
}
#_idContainer048, #_idContainer051, #_idContainer085 {
	display:inline-block;
	height:550px;
	width:257px;
}
#_idContainer054 {
	display:inline-block;
	height:550px;
	width:309px;
}
#_idContainer056 {
	display:inline-block;
	height:550px;
	width:310px;
}
#_idContainer061, #_idContainer064, #_idContainer067, #_idContainer070, #_idContainer073, #_idContainer076 {
	display:inline-block;
	height:550px;
	width:268px;
}
#_idContainer079, #_idContainer098 {
	display:inline-block;
	height:550px;
	width:275px;
}
#_idContainer088 {
	display:inline-block;
	height:550px;
	width:217px;
}
#_idContainer090 {
	display:inline-block;
	height:550px;
	width:252px;
}
#_idContainer092 {
	display:inline-block;
	height:550px;
	width:235px;
}
#_idContainer094, #_idContainer096 {
	display:inline-block;
	height:550px;
	width:234px;
}
#_idContainer099 {
	display:inline-block;
	height:185px;
	width:140px;
}
img._idGenObjectAttribute-1 {
	height:28px;
	width:102px;
}
img._idGenObjectAttribute-2 {
	height:224px;
	width:286px;
}
img._idGenObjectAttribute-3 {
	height:15px;
	width:16px;
}
img._idGenObjectAttribute-4 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	background-color:#000000;
	border-color:#ffffff;
	border-width:4px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
